NODE_ENV=<NODE_ENV>

DB_HOST=<DB_HOST>
DB_PORT=<DB_PORT>
DB_USERNAME=<DB_USERNAME>
DB_PASSWORD=<DB_PASSWORD>
DB_DATABASE=<DB_DATABASE>

REDIS_HOST=<REDIS_HOST>
REDIS_PORT=<REDIS_PORT>
REDIS_PASSWORD=<REDIS_PASSWORD>
REDIS_DB=<REDIS_DB>

JWT_SECRET=<JWT_SECRET>
JWT_ACCESS_EXPIRY=<JWT_ACCESS_EXPIRY>
JWT_REFRESH_EXPIRY=<JWT_REFRESH_EXPIRY>